<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
        <h1>You posted a car!</h1>
        <p>{{ car.getMakeModel }}</p>
        <p>{{ car.getPrice }}</p>
        <p>{{ car.getMileage }}</p>
        <p>{{ car.getDoors }}</p>
        <p><a href='/view_all_cars'>View list of cars.</a></p>
        <p><a href='/'>Return Home</a></p>
    </body>
</html>
